In [79]:
import pandas as pd
import pandas_datareader as pdr
import matplotlib.pyplot as plt

The data was retrieved from the [Tiingo API](https://api.tiingo.com/documentation/general/overview). In order to follow the code below, you must first go to the web page and create a free account. In the overview section of the documentation, you can find your API key which you can copy and paste into the variable below as a string. For obvious reason, I will not include my personal API key.

In [80]:
api_key = '8ddd3fdf85cf88e40882ec2c8f8c33617fe3f613'

In [81]:
# 12 popular index funds and ETFs

NASDX = pdr.get_data_tiingo('NASDX', api_key=api_key)
QQQ = pdr.get_data_tiingo('QQQ', api_key=api_key)
VOO = pdr.get_data_tiingo('VOO', api_key=api_key)
SPY = pdr.get_data_tiingo('SPY', api_key=api_key)
VTWO = pdr.get_data_tiingo('VTWO', api_key=api_key)
IVV = pdr.get_data_tiingo('IVV', api_key=api_key)
SWPPX = pdr.get_data_tiingo('SWPPX', api_key=api_key)
DIA = pdr.get_data_tiingo('DIA', api_key=api_key)
VFIAX = pdr.get_data_tiingo('VFIAX', api_key=api_key)
VTSAX = pdr.get_data_tiingo('VTSAX', api_key=api_key)
FXAIX = pdr.get_data_tiingo('FXAIX', api_key=api_key)
SWTSX = pdr.get_data_tiingo('SWTSX', api_key=api_key)
VUG = pdr.get_data_tiingo('VUG', api_key=api_key)

In [82]:
funds_list = [NASDX,QQQ,VOO,SPY,VTWO,IVV,SWPPX,DIA,VFIAX,VTSAX,FXAIX,SWTSX,VUG]

### Combine all the data

In [83]:
funds = pd.DataFrame()

In [84]:
NASDX

                                  close   high    low   open  volume  \
symbol date
NASDX  2017-01-12 00:00:00+00:00  12.87  12.87  12.87  12.87       0
       2017-01-13 00:00:00+00:00  12.92  12.92  12.92  12.92       0
       2017-01-17 00:00:00+00:00  12.88  12.88  12.88  12.88       0
       2017-01-18 00:00:00+00:00  12.91  12.91  12.91  12.91       0
       2017-01-19 00:00:00+00:00  12.90  12.90  12.90  12.90       0
...                                 ...    ...    ...    ...     ...
       2022-01-04 00:00:00+00:00  36.18  36.18  36.18  36.18       0
       2022-01-05 00:00:00+00:00  35.05  35.05  35.05  35.05       0
       2022-01-06 00:00:00+00:00  35.04  35.04  35.04  35.04       0
       2022-01-07 00:00:00+00:00  34.65  34.65  34.65  34.65       0
       2022-01-10 00:00:00+00:00  34.70  34.70  34.70  34.70       0

                                   adjClose    adjHigh     adjLow    adjOpen  \
symbol date
NASDX  2017-01-12 00:00:00+00:00  11.067007  11.067007  11.067007  11.067007
       2017-01-13 00:00:00+00:00  11.110002  11.110002  11.110002  11.110002
       2017-01-17 00:00:00+00:00  11.075606  11.075606  11.075606  11.075606
       2017-01-18 00:00:00+00:00  11.101403  11.101403  11.101403  11.101403
       2017-01-19 00:00:00+00:00  11.092804  11.092804  11.092804  11.092804
...                                     ...        ...        ...        ...
       2022-01-04 00:00:00+00:00  36.180000  36.180000  36.180000  36.180000
       2022-01-05 00:00:00+00:00  35.050000  35.050000  35.050000  35.050000
       2022-01-06 00:00:00+00:00  35.040000  35.040000  35.040000  35.040000
       2022-01-07 00:00:00+00:00  34.650000  34.650000  34.650000  34.650000
       2022-01-10 00:00:00+00:00  34.700000  34.700000  34.700000  34.700000

                                  adjVolume  divCash  splitFactor
symbol date
NASDX  2017-01-12 00:00:00+00:00          0      0.0          1.0
       2017-01-13 00:00:00+00:00          0      0.0          1.0
       2017-01-17 00:00:00+00:00          0      0.0          1.0
       2017-01-18 00:00:00+00:00          0      0.0          1.0
       2017-01-19 00:00:00+00:00          0      0.0          1.0
...                                     ...      ...          ...
       2022-01-04 00:00:00+00:00          0      0.0          1.0
       2022-01-05 00:00:00+00:00          0      0.0          1.0
       2022-01-06 00:00:00+00:00          0      0.0          1.0
       2022-01-07 00:00:00+00:00          0      0.0          1.0
       2022-01-10 00:00:00+00:00          0      0.0          1.0

[1258 rows x 12 columns]

In [85]:
#NASDX = NASDX.reset_index()
#NASDX['date'] = pd.to_datetime(NASDX['date'])
#NASDX = NASDX.set_index(['symbol','date'])
#NASDX.loc['NASDX'].resample('D').mean().bfill()

In [86]:
symbols = ['NASDX','QQQ','VOO','SPY','VTWO','IVV','SWPPX','DIA','VFIAX','VTSAX','FXAIX','SWTSX','VUG']

In [96]:
resampled = []
for x,y in zip(funds_list,symbols):
    x = x.reset_index()
    x['date'] = pd.to_datetime(x['date'])
    x = x.set_index(['symbol','date'])
    x = x.loc[y].resample('D').mean().bfill()
    x['symbol'] = pd.Series(y)
    x['symbol'] =  x['symbol'].fillna(y)
    x = x.reset_index().set_index(['symbol','date'])
    resampled.append(x)

for x in resampled:
    funds = pd.concat([funds, x])

In [97]:
funds

                                   close     high     low     open     volume  \
symbol date
NASDX  2017-01-12 00:00:00+00:00   12.87   12.870   12.87   12.870        0.0
       2017-01-13 00:00:00+00:00   12.92   12.920   12.92   12.920        0.0
       2017-01-14 00:00:00+00:00   12.88   12.880   12.88   12.880        0.0
       2017-01-15 00:00:00+00:00   12.88   12.880   12.88   12.880        0.0
       2017-01-16 00:00:00+00:00   12.88   12.880   12.88   12.880        0.0
...                                  ...      ...     ...      ...        ...
VUG    2022-01-06 00:00:00+00:00  307.56  310.240  304.43  306.850  1390962.0
       2022-01-07 00:00:00+00:00  304.21  308.905  302.97  307.486  1267866.0
       2022-01-08 00:00:00+00:00  303.59  303.850  294.63  300.160  1850390.0
       2022-01-09 00:00:00+00:00  303.59  303.850  294.63  300.160  1850390.0
       2022-01-10 00:00:00+00:00  303.59  303.850  294.63  300.160  1850390.0

                                    adjClose     adjHigh      adjLow  \
symbol date
NASDX  2017-01-12 00:00:00+00:00   11.067007   11.067007   11.067007
       2017-01-13 00:00:00+00:00   11.110002   11.110002   11.110002
       2017-01-14 00:00:00+00:00   11.075606   11.075606   11.075606
       2017-01-15 00:00:00+00:00   11.075606   11.075606   11.075606
       2017-01-16 00:00:00+00:00   11.075606   11.075606   11.075606
...                                      ...         ...         ...
VUG    2022-01-06 00:00:00+00:00  307.560000  310.240000  304.430000
       2022-01-07 00:00:00+00:00  304.210000  308.905000  302.970000
       2022-01-08 00:00:00+00:00  303.590000  303.850000  294.630000
       2022-01-09 00:00:00+00:00  303.590000  303.850000  294.630000
       2022-01-10 00:00:00+00:00  303.590000  303.850000  294.630000

                                     adjOpen  adjVolume  divCash  splitFactor
symbol date
NASDX  2017-01-12 00:00:00+00:00   11.067007        0.0      0.0          1.0
       2017-01-13 00:00:00+00:00   11.110002        0.0      0.0          1.0
       2017-01-14 00:00:00+00:00   11.075606        0.0      0.0          1.0
       2017-01-15 00:00:00+00:00   11.075606        0.0      0.0          1.0
       2017-01-16 00:00:00+00:00   11.075606        0.0      0.0          1.0
...                                      ...        ...      ...          ...
VUG    2022-01-06 00:00:00+00:00  306.850000  1390962.0      0.0          1.0
       2022-01-07 00:00:00+00:00  307.486000  1267866.0      0.0          1.0
       2022-01-08 00:00:00+00:00  300.160000  1850390.0      0.0          1.0
       2022-01-09 00:00:00+00:00  300.160000  1850390.0      0.0          1.0
       2022-01-10 00:00:00+00:00  300.160000  1850390.0      0.0          1.0

[23725 rows x 12 columns]

In [98]:
funds.head()

                                  close   high    low   open  volume  \
symbol date
NASDX  2017-01-12 00:00:00+00:00  12.87  12.87  12.87  12.87     0.0
       2017-01-13 00:00:00+00:00  12.92  12.92  12.92  12.92     0.0
       2017-01-14 00:00:00+00:00  12.88  12.88  12.88  12.88     0.0
       2017-01-15 00:00:00+00:00  12.88  12.88  12.88  12.88     0.0
       2017-01-16 00:00:00+00:00  12.88  12.88  12.88  12.88     0.0

                                   adjClose    adjHigh     adjLow    adjOpen  \
symbol date
NASDX  2017-01-12 00:00:00+00:00  11.067007  11.067007  11.067007  11.067007
       2017-01-13 00:00:00+00:00  11.110002  11.110002  11.110002  11.110002
       2017-01-14 00:00:00+00:00  11.075606  11.075606  11.075606  11.075606
       2017-01-15 00:00:00+00:00  11.075606  11.075606  11.075606  11.075606
       2017-01-16 00:00:00+00:00  11.075606  11.075606  11.075606  11.075606

                                  adjVolume  divCash  splitFactor
symbol date
NASDX  2017-01-12 00:00:00+00:00        0.0      0.0          1.0
       2017-01-13 00:00:00+00:00        0.0      0.0          1.0
       2017-01-14 00:00:00+00:00        0.0      0.0          1.0
       2017-01-15 00:00:00+00:00        0.0      0.0          1.0
       2017-01-16 00:00:00+00:00        0.0      0.0          1.0

### Save the DataFrame as a new CSV file

In [99]:
funds.to_csv('index_funds_data.csv')

In [ ]:
from statsmodels.tsa.stattools import adfuller

In [ ]:
def check_stationarity(ts):
    #Determing rolling statistics
    roll_mean = ts.rolling(12).mean()
    roll_std = ts.rolling(12).std()
    #Plot rolling statistics:
    plt.plot(ts, color='blue',label='Original')
    plt.plot(roll_mean, color='red', label='Rolling Mean')
    plt.plot(roll_std, color='black', label = 'Rolling Std')
    plt.legend(loc='best')
    plt.title('Rolling Mean and Standard Deviation')
    plt.show(block=False)
    
    print("Results of dickey fuller test")
    adft = adfuller(ts,autolag='AIC')
    # output for dft will give us without defining what the values are.
    #hence we manually write what values does it explains using a for loop
    output = pd.Series(adft[0:4],index=['Test Statistics','p-value','No. of lags used','Number of observations used'])
    for key,values in adft[4].items():
        output['critical value (%s)'%key] =  values
    print(output)

In [ ]:
# model.plot_diagnostics()

In [ ]:
def train_test_splt(data, N, offset):
    """
    Split time-series into training sequence X and outcome value Y
    Args:
        data - dataset 
        N - window size, e.g., 50 for 50 days of historical stock prices
        offset - position to start the split
    """
    X, y = [], []
    
    for i in range(offset, len(data)):
        X.append(data[i-N:i])
        y.append(data[i])
    
    return np.array(X), np.array(y)

In [ ]:
def decompose(z,target,plot=False,check=False):
    decomposition = seasonal_decompose(resampled.loc[z,[target]])
    trend = decomposition.trend
    seasonal = decomposition.seasonal
    residual = decomposition.resid
    if plot == True:
        plt.figure(figsize=(12,8))
        plt.subplot(411)
        plt.plot(ts, label='Original', color='blue')
        plt.legend(loc='best')
        plt.subplot(412)
        plt.plot(trend, label='Trend', color='blue')
        plt.legend(loc='best')
        plt.subplot(413)
        plt.plot(seasonal,label='Seasonality', color='blue')
        plt.legend(loc='best')
        plt.subplot(414)
        plt.plot(residual, label='Residuals', color='blue')
        plt.legend(loc='best')
        plt.tight_layout()
        
    ts_decompose = residual
    ts_decompose.dropna(inplace=True)
    
    if check == True:
        stationarity_check(ts_decompose)
        print()
    
    return ts_decompose